<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application-identifier</key>
	<string>A5U65N39SD.de.tu-darmstadt.seemoo.BLE-Scanner</string>
	<key>com.apple.developer.team-identifier</key>
	<string>A5U65N39SD</string>
	<key>get-task-allow</key>
	<true/>
	<key>com.apple.bluetooth.internal</key>
	<true/>
	<key>com.apple.bluetooth.internal - 2</key>
	<true/>
	<key>com.apple.private.MobileGestalt.AllowedProtectedKeys</key>
	<array>
		<string>BluetoothAddress</string>
		<string>EthernetMacAddress</string>
		<string>SysCfg</string>
		<string>UniqueDeviceID</string>
		<string>WifiAddressData</string>
		<string>WifiAddress</string>
	</array>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.accessories.blepairing</string>
		<string>com.apple.audio.hapticd</string>
		<string>com.apple.bulletinboard.observerconnection</string>
		<string>com.apple.carousel.wakegesturemonitor</string>
		<string>com.apple.cdp.daemon</string>
		<string>com.apple.CloudPhotoDerivativeGenerator</string>
		<string>com.apple.commcenter.coretelephony.xpc</string>
		<string>com.apple.CompanionLink</string>
		<string>com.apple.corecaptured</string>
		<string>com.apple.coreduetd.knowledge</string>
		<string>com.apple.corefollowup.agent</string>
		<string>com.apple.diagnosticextensionsd.sharing-wakeup</string>
		<string>com.apple.distributed_notifications@Uv3</string>
		<string>com.apple.familycircle.agent</string>
		<string>com.apple.homed.xpc</string>
		<string>com.apple.icloud.fmfd</string>
		<string>com.apple.iconservices</string>
		<string>com.apple.imagent.embedded.auth</string>
		<string>com.apple.imdpersistence.IMDPersistenceAgent</string>
		<string>com.apple.intents.intents-helper</string>
		<string>com.apple.lsd.xpc</string>
		<string>com.apple.mobileactivationd</string>
		<string>com.apple.networkd_privileged</string>
		<string>com.apple.PairingManager</string>
		<string>com.apple.photoanalysisd</string>
		<string>com.apple.rapport.people</string>
		<string>com.apple.rapport</string>
		<string>com.apple.SafariFoundation.AutoFillHelper</string>
		<string>com.apple.server.bluetooth.le.att.xpc</string>
		<string>com.apple.server.bluetooth.le.pipe.xpc</string>
		<string>com.apple.SharedWebCredentials</string>
		<string>com.apple.sharing.sharesheet</string>
		<string>com.apple.Sharing.SharingHUDService</string>
		<string>com.apple.sharing.transfer-observer</string>
		<string>com.apple.sharingd.b332setup</string>
		<string>com.apple.sharingd.paireddevice</string>
		<string>com.apple.sharingd</string>
		<string>com.apple.SharingServices</string>
		<string>com.apple.SharingXPCHelper</string>
		<string>com.apple.soundboardservices.server</string>
		<string>com.apple.springboard.blockableservices</string>
		<string>com.apple.sysdiagnose.service.xpc</string>
		<string>com.apple.tailspind</string>
		<string>com.apple.telephonyutilities.callservicesdaemon.callprovidermanager</string>
		<string>com.apple.telephonyutilities.callservicesdaemon.conversationmanager</string>
		<string>com.apple.voicememod.datastore.Cloud</string>
		<string>com.apple.voicememod.datastore.Local</string>
		<string>com.apple.voicememod.xpc</string>
	</array>
	<key>com.apple.security.exception.managed-preference.read-only</key>
	<array>
		<string>com.apple.AppleMediaServices</string>
		<string>com.apple.Home</string>
		<string>com.apple.homed</string>
		<string>com.apple.MobileBluetooth.debug</string>
		<string>com.apple.PeopleSuggester</string>
	</array>
	<key>com.apple.security.exception.shared-preference.read-only</key>
	<array>
		<string>com.apple.AppleMediaServices</string>
		<string>com.apple.Home</string>
		<string>com.apple.homed</string>
		<string>com.apple.MobileBluetooth.debug</string>
		<string>com.apple.siri.shortcuts</string>
	</array>
</dict>
</plist>
